<p id="notice"><%= notice %></p>




<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
<div class="container3">
	<div class="row">
		<div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
    	 <div class="well profile">
            <div class="col-sm-12">
                <div class="col-xs-12 col-sm-8">
                    <h2> <%= @profile.firstname %> <%= @profile.lastname %></h2>
                    <p><strong>Phone: </strong> <%= @profile.phone %> </p>
                    <p><strong>Address: </strong>  <%= @profile.address %> </p>
                    <p><strong>Zip Code: </strong> <%= @profile.zipcode %> </p>
                    <p><strong>City: </strong>  <%= @profile.city %> </p>
                    
                </div>             
           
                <div class="col-xs-12 divider text-center">
                  <div class="col-xs-12 col-sm-4 emphasis">
                      <h2><strong class="glyphicon glyphicon-eye-open"></strong></h2>                    
                      <p><small>Carts</small></p>
                      <button class="btn btn-success btn-block"><span class="glyphicon glyphicon-search"></span> Your order </button>
                  </div>
                  <div class="col-xs-12 col-sm-4 emphasis">
                      <h2><strong class="glyphicon glyphicon-list-alt"></strong></h2>                    
                      <p><small>Edit</small></p>
                      
                       <button class="btn btn-success btn-block"><span class="glyphicon glyphicon-search"></span> <%= link_to 'Edit', edit_profile_path(@profile) %> </button>
                  </div>
                  <div class="col-xs-12 col-sm-4 emphasis">
                      <h2><strong class="glyphicon glyphicon-shopping-cart"></strong></h2>                    
                      <p><small>Shooping</small></p>
                      <button class="btn btn-warning"><span class="glyphicon glyphicon-hand-right"></span> Shooping now </button>
                  </div>
            </div>
    	 </div>                 
		</div>
	</div>
</div>
<p></p>







<% if current_user.admin? %>

<%= link_to 'Edit', edit_profile_path(@profile) %> |


<%= link_to 'Back', profiles_path %>
<% end %>
