<div class="main">
    <h1 Align="center">Your cart</h1>
</div>


<% if @cart.empty? %>
    <p>Your Cart is empty</p>
<% end %>

<% total = 0 %>

<table class="cart">
    <tr>
        <td class="legend"></td>
        <td class="legend">Name</td>
        <td class="legend">Price</td>
        <td class="legend">Quantity</td>
        <td class="legend">Total</td>
        
    </tr>
    
<% @cart.each do | id, quantity | %>
    <% item = Item.find_by_id(id) %>
    <tr>
        <td>
            <div class="image">
                 <%= link_to (image_tag item.image, :style => "height:40px") %>
            </div>
        </td>
        <td class="name"><%= link_to item.name %></td>
        <td class="pricec"><%= number_to_currency(item.price, :unit => "€" ) %></td>
        <td class="quantity"><%= quantity %><br/></td>
        <td class="priceeee"><%= number_to_currency(quantity * item.price, :unit => "€") %></td>
    </tr>
    <% total += quantity * item.price %>
<% end %>

    <tr>
        <td colspan="4">
            <div class="total">Total:</div>
        </td>
        <td>
            <div class="pricet"><%= number_to_currency(total, :unit => "€") %></div>
        </td>
    </tr>
</table>

 <%= link_to 'continue buying', :controller => :companies %>
 <%= link_to 'Back to the Items company', @company %>


<div>

<a href="#" data-toggle="modal" data-target="#login-modal">Chek out</a>

<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    	  <div class="container">
    <div class="row">
        <div class="col-xs-4 col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Payment Details
                    </h3>
                    <div class="checkbox pull-right">
                        <label>
                            <input type="checkbox" />
                            Remember
                        </label>
                    </div>
                </div>
                <div class="panel-body">
                    <form role="form">
                    <div class="form-group">
                        <label for="cardNumber">
                            CARD NUMBER</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="cardNumber" placeholder="Valid Card Number"
                                required autofocus />
                            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-7 col-md-7">
                            <div class="form-group">
                                <label for="expityMonth">
                                    EXPIRY DATE</label>
                                <div class="col-lg-6 pl-ziro">
                                    <input type="text" class="form-control" id="expityMonth" placeholder="MM" required />
                                </div>
                                <div class="col-lg-6 pl-ziro">
                                    <input type="text" class="form-control" id="expityYear" placeholder="YY" required /></div>
                            </div>
                        </div>
                        <div class="col-xs-5 col-md-5 pull-right">
                            <div class="form-group">
                                <label for="cvCode">
                                    CV CODE</label>
                                <input type="password" class="form-control" id="cvCode" placeholder="CV" required />
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="#"><span class="badge pull-right"><span class="glyphicon glyphicon-usd"></span><%= number_to_currency(total, :unit => "€")%></span> Final Payment</a>
                </li>
            </ul>
            <br/>
            <a href="/profile" class="btn btn-success btn-lg btn-block" role="button">Pay</a>
        </div>
        <p><button type="button" class="btn btn-default" data-dismiss="modal">Close</button></p>
    </div>
</div>

</div>


